body {
    background-color: #232323;
    box-sizing: border-box;
}

#container {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    margin: 1.66%;
}

h1 {
    color: #fff;
}

span {
    color: #fff;
}